body {
  background-color: #dcdde1;
}

header.row {
  margin-bottom: 0;
}

.top-menu {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: transparent;
}

.top-menu .terms, .top-menu .order {
  background-color: white;
  padding: 0 5px;
}

.top-menu .terms li, .top-menu .order li {
  display: inline-block;
  font-size: 18px;
}

.top-menu .terms a, .top-menu .order a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px;
  color: black;
}

.top-menu .terms li:hover a, .top-menu .order li:hover a {
  background-color: black;
  color: white;
}

.top-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  padding: 15px 35px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.top-menu .logo img {
  width: 170px;
  height: auto;
}

.top-menu .order i {
  font-size: 20px;
}

#banner {
  background: url(img/bg.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#banner .cloud1 {
  width: 700px;
  -webkit-animation: cloud1 50s linear infinite;
          animation: cloud1 50s linear infinite;
  position: absolute;
  left: -50%;
  opacity: 0.9;
}

#banner .cloud1 img {
  width: 100%;
  height: auto;
}

#banner .cloud2 {
  position: absolute;
  bottom: -125px;
  right: -90%;
  width: 100%;
  -webkit-animation: cloud2 50s linear infinite;
          animation: cloud2 50s linear infinite;
  opacity: 0.9;
}

#banner .cloud2 img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes cloud1 {
  0% {
    left: -50%;
    opacity: 0.9;
  }
  90% {
    left: 100%;
    opacity: 0.9;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes cloud1 {
  0% {
    left: -50%;
    opacity: 0.9;
  }
  90% {
    left: 100%;
    opacity: 0.9;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes cloud2 {
  0% {
    right: -90%;
    opacity: 0.9;
  }
  90% {
    right: 100%;
    opacity: 0.9;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

@keyframes cloud2 {
  0% {
    right: -90%;
    opacity: 0.9;
  }
  90% {
    right: 100%;
    opacity: 0.9;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

.go-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: none;
}

#portfolio {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#portfolio .title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

#portfolio .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .box .img {
  width: 250px;
  overflow: hidden;
}

#portfolio .box .img img {
  width: 100%;
  height: auto;
}

#portfolio .box .except {
  margin-left: 10px;
}

#about {
  width: 90%;
  margin: 50px auto;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#about .content {
  padding: 20px;
  text-align: center;
}

#map iframe {
  width: 100%;
  height: 500px;
}

#information {
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#information .box img {
  width: 100%;
  height: auto;
}

#information .box .excerpt {
  color: gray;
}

#subcribe {
  padding: 50px;
  background-color: #3742fa;
  text-align: center;
  color: white;
}

#footer {
  width: 100%;
  background-color: white;
}

#footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#footer .widget {
  width: 100%;
  color: gray;
}

#footer .widget a {
  color: gray;
}

footer {
  text-align: center;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #1e272e;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  color: white;
}

aside .close_trigger {
  color: white;
  float: right;
  margin-right: 20px;
}

aside .close_trigger i {
  font-size: 30px;
}

aside #menu_list {
  margin: 0;
  padding: 0;
}

aside li {
  line-height: 2;
  font-size: 20px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

aside li a {
  color: white;
}

aside li:hover {
  background-color: #32414d;
}

aside li:hover .sub-menu {
  -webkit-transform: rotate(0) rotateY(0);
          transform: rotate(0) rotateY(0);
  opacity: 1;
}

aside .has-sub-menu::after {
  content: '\f078';
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
}

aside .sub-menu {
  position: absolute;
  top: 35px;
  left: 80px;
  background-color: #1e272e;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(90deg) rotateY(90deg);
          transform: rotate(90deg) rotateY(90deg);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}

aside .sub-menu li {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .top-menu {
    display: block;
    margin: auto;
  }
  .top-menu .terms, .top-menu .order {
    padding: 2px 0;
  }
  .top-menu .logo {
    margin: auto;
  }
  #footer .content {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */